:root {
    --green-primary: #008000;   /* Dark green */
    --green-secondary: #00cc00; /* Light green */
  }
  
  
  
  .picture{
            display: flex;
            position: absolute;
            top: 116px;
            left: 155px;    
            width: 321px;
            height: 314px;
            margin: 20px;
            
        }
.picture img{
    border-radius: 15px;
    border: 2.5px solid #000;
    box-shadow: 0 2px 2px 0 #000;
}
        .bigrect{
            border-radius: 42px;
            background: rgba(42, 135, 44, 0.833);
            border: 2.5px solid #000;
            width: 766px;
            height: 600px;
            flex-shrink: 0;
            display: flex;
            position: absolute;
            top: 39px;
            left: 732px;
        }
        .RecipeHeading{
            display: flex;
            width: 126px;
            height: 58px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #FFF;
            text-align: left;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 35px;
            font-weight: 700;
            position: absolute;
            top: 206px;
            left: 820px;
        }
        .description{
            display: flex;
            position: absolute;
            width: 208px;
            height: 58px;
            flex-direction: column;
            justify-content: right;
            flex-shrink: 0;
            color: #FFF;
            text-align: right;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 35px;
            font-weight: 700;
            top: 206px;
            left: 1150px;
        }
        
        .recipeContent{
            display: flex;
            width: 322px;
            height: 341px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #FFF;
            text-align: justify;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 15px;
            font-family: Inter;
            font-weight: 600;
            position: absolute;
            /* top: 180px;
            left: 720px; */
            top: 251px;
            left: 768px;
            overflow: auto;
            
        }
        *{
            font-family: 'Belanosima', 'Arial Narrow', Arial, sans-serif;
        }


        .recipeShadow{
            overflow: auto;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            padding-left: 15px;
        }
        .recipeShadow::-webkit-scrollbar {
            display: none;
          }
        
        .descriptionContent{
            display: flex;  
            width: 341px;
            height: 297px;
            overflow:scroll;
            flex-direction: column;
            flex-shrink: 0;
            color: #FFF;
            text-align:left;
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-size: 15px;
            font-family: Inter;
            font-weight: 600;
            position: absolute;
            top: 276px;
            left: 1111px;
        }
        .descriptionContent::-webkit-scrollbar
         {
            display: none;
         }
        .foodItemHeading{
            display: flex;
            width: 506px;
            height: 128px;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #FFF;
            text-align: center;
            font-size: 51px;
            font-family: Inter;
            font-weight: 800;
            position: absolute;
            /* top: 70px; */
            top: 39px;
            left: 852px;
        }
        .box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8{
            width: 131px;
            height: 47px;
            flex-shrink: 0;
            flex-shrink: 0;
            border-radius: 20px;
            background: rgba(42, 135, 44, 0.833);
            display: flex;
            position: absolute;
            justify-content: center;
            gap: 5px;
        }

        #nutrientDisplay{
            display: block;
            position: fixed;
            width: 436px;
            height: 209px;
            top: 476px;
            left: 124px;
        }   

        .box1{
            top: 333px;
            left: 135px;
        }
        .box2{
            top: 333px;
            left: 307px;
        }
        .box3{
            top: 400px;
            left: 135px;
        }
        .box4{
            top: 400px;
            left: 307px;
        }
        .box5{
            top: 469px;
            left: 135px;
        }
        .box6{

            top: 469px;
            left: 307px;
        }
        .box7{
            top: 536px;
            left: 135px;
        }
        .box8{
            top: 536px;
            left: 307px;
        }
        .boxContent {
            display: flex;
            align-items: top;
            justify-content: center;
            font-size: 20px;
            color: #FFF;
            }

            .box1 .boxContent,
            .box2 .boxContent,
            .box3 .boxContent,
            .box4 .boxContent,
            .box5 .boxContent,
            .box6 .boxContent,
            .box7 .boxContent,
            .box8 .boxContent {
            width: 100%;
            height: 100%;
}

    #nutrientDisplay{
        display: flexbox;
    }

#bento{
            width: 100px;
            height: 100px;
            flex-shrink: 0;
            display: flex;
            position: absolute;
            top:29px;
            left: 5px;
            border-radius: 15px;
            box-shadow: 10px;
}

        /* .textShadow,.recipeShadow,.RecipeHeading,.description,.foodItemHeading{
            
        } */

        .recipeShadow{
            top: 297px;
            left: 745px;
            position: fixed;
            width: 310px;
            height: 300px;
        }

        #textShadow{
            top: 297px;
            left: 1164px;
            position: fixed;
            width: 310px;
            height: 300px;
        }

        .logoName{
            display: flex;
            width: 132px;
            height: 50px;
            flex-direction: column;
            flex-shrink: 0;
            color: #000;
            font-size: 30px;
            display: flex;
            position: absolute;
            top:54px;
            left: 100px;
            font-family: "Caprasimo", "Helvetica Neue", Helvetica, sans-serif;
        }

        .bigrect{
            box-shadow: 0px 0px 15px 15px rgba(11, 38, 7, 0.25);
            text-shadow: 0px 0px 15px 15px rgba(11, 38, 7, 0.25);
        }


          /* Style the list */
          .green-list {
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            list-style-type: none;
            padding: 0;

        
        }

          
          /* Style the list items */
          .green-list li {
            color: white;              /* Text color */
            background-color:rgba(42, 135, 44, 0.833);
            border: 2px solid #000;
            box-shadow: 0px 2px 2px 0px #000;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 30px;
            text-align: center;
          }

          .loader_container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            z-index: 99;
          }

          
            .loader {
            border: 16px solid #000000;
            border-radius: 50%;
            border-top: 16px solid #bceebb;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
          }
        
          /* Safari */
          @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
          }
          
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }